*{
   margin:0;
   padding:0;
   box-sizing: border-box;
} 
header{
  background-image: url(../images/headerback.jpg);
  background-repeat: no-repeat;
  background-position: 80%;
  background-color: rgba(128, 128, 128, 0.096);
  font-family: Tahoma ;
  padding: 30px;
}
.logo{
   display: inline-block;
   width: 40%;
   vertical-align: middle;
}
.separater{
   display: inline-block;
   width: 2px;
   height: 70px;
   background-image: linear-gradient(to top,rgba(128, 128, 128, 0.096),rgba(128, 128, 128, 0.72),rgba(128, 128, 128, 0.096 ));
   margin-right: 30px;
   vertical-align: middle;
}
.header-text{
   display: inline-block;
   width: 50%;
   vertical-align: middle;
}
.selected-text{
   color: rgb(0, 170, 255);
}
